<?xml version="1.0"?>
<config>
    <modules>
        <JR_CleverCms>
            <version>2.1.2</version>
        </JR_CleverCms>
    </modules>
    <global>
        <resources>
            <clever_cms_setup>
                <setup>
                    <module>JR_CleverCms</module>
                    <class>JR_CleverCms_Model_Resource_Setup</class>
                </setup>
            </clever_cms_setup>
        </resources>
        <models>
            <cms>
                <rewrite>
                    <page>JR_CleverCms_Model_Cms_Page</page>
                    <page_permission>JR_CleverCms_Model_Cms_Page_Permission</page_permission>
                </rewrite>
            </cms>
            <cms_resource>
                <rewrite>
                    <page>JR_CleverCms_Model_Resource_Cms_Page</page>
                    <page_tree>JR_CleverCms_Model_Resource_Cms_Page_Tree</page_tree>
                    <page_collection>JR_CleverCms_Model_Resource_Cms_Page_Collection</page_collection>
                    <page_permission>JR_CleverCms_Model_Resource_Cms_Page_Permission</page_permission>
                </rewrite>
                <entities>
                    <page_permission><table>cms_page_permission</table></page_permission>
                </entities>
            </cms_resource>
            <sitemap_resource>
                <rewrite>
                    <cms_page>JR_CleverCms_Model_Resource_Sitemap_Cms_Page</cms_page>
                </rewrite>
            </sitemap_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_cms_page>JR_CleverCms_Model_Adminhtml_System_Config_Source_Cms_Page</system_config_source_cms_page>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <jr_clevercms>
                <class>JR_CleverCms_Block</class>
            </jr_clevercms>
            <cms>
                <rewrite>
                    <page>JR_CleverCms_Block_Cms_Page</page>
                </rewrite>
            </cms>
            <catalog>
                <rewrite>
                    <navigation>JR_CleverCms_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>JR_CleverCms_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>JR_CleverCms_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                    <cms_page_widget_chooser>JR_CleverCms_Block_Adminhtml_Cms_Page_Widget_Chooser</cms_page_widget_chooser>
                    <cms_page_edit_tab_design>JR_CleverCms_Block_Adminhtml_Cms_Page_Edit_Tab_Design</cms_page_edit_tab_design>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cms>
                <rewrite>
                    <page>JR_CleverCms_Helper_Cms_Page</page>
                </rewrite>
            </cms>
            <jr_clevercms>
                <class>JR_CleverCms_Helper</class>
            </jr_clevercms>
        </helpers>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <clever_cms_page_prepare_form>
                        <type>singleton</type>
                        <class>JR_CleverCms_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareForm</method>
                    </clever_cms_page_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <clever_cms_page_prepare_save>
                        <type>singleton</type>
                        <class>JR_CleverCms_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareSave</method>
                    </clever_cms_page_prepare_save>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <JR_CleverCms before="Mage_Cms">JR_CleverCms_Cms</JR_CleverCms>
                    </modules>
                </args>
            </cms>
        </routers>
        <layout>
            <updates>
                <jr_clevercms module="JR_CleverCms">
                    <file>jr_clevercms.xml</file>
                </jr_clevercms>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JR_CleverCms before="Mage_Adminhtml">JR_CleverCms_Adminhtml</JR_CleverCms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms translate="title" module="cms">
                <title>CMS</title>
                <sort_order>70</sort_order>
                <children>
                    <page translate="title" module="reports">
                        <title>Pages</title>
                        <children>
                            <content translate="title" module="reports">
                                <title>Manage Content</title>
                                <action>adminhtml/cms_page</action>
                            </content>
                            <permissions translate="title" module="reports">
                                <title>Manage Permissions</title>
                                <action>adminhtml/cms_page_permissions</action>
                            </permissions>
                        </children>
                    </page>
                    <block translate="title" module="cms">
                        <title>Static Blocks</title>
                        <action>adminhtml/cms_block</action>
                        <sort_order>10</sort_order>
                    </block>
                </children>
             </cms>
        </menu>
        <translate>
            <modules>
                <JR_CleverCms>
                    <files>
                        <default>JR_CleverCms.csv</default>
                    </files>
                </JR_CleverCms>
            </modules>
        </translate>
    </adminhtml>
</config>