<?xml version="1.0"?>
<!--
/**
 * Fontis Blog Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * Parts of this software are derived from code originally developed by
 * Robert Chambers <magento@robertchambers.co.uk>
 * and released as "Lazzymonk's Blog" 0.5.8 in 2009.
 *
 * @category   Fontis
 * @package    Fontis_Blog
 * @copyright  Copyright (c) 2013 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <modules>
        <Fontis_Blog>
            <version>1.1.1</version>
        </Fontis_Blog>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fontis_Blog before="Mage_Adminhtml">Fontis_Blog_Manage</Fontis_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Fontis_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>fontis/blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fontis_Blog>
                    <files>
                        <default>Fontis_Blog.csv</default>
                    </files>
                </Fontis_Blog>
            </modules>
        </translate>
        <cache>
            <pages>
                <fontis_blog>blog</fontis_blog>
            </pages>
        </cache>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Fontis_Blog>
                    <files>
                        <default>Fontis_Blog.csv</default>
                    </files>
                </Fontis_Blog>
            </modules>
        </translate>
        <menu>
            <blog module="blog">
                <title>Blog</title>
                <sort_order>71</sort_order>
                <children>
                    <newpost module="blog">
                        <title>New Post</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/blog_blog/new</action>
                    </newpost>
                    <posts module="blog">
                        <title>Manage Posts</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/blog_blog/index</action>
                    </posts>
                    <comment module="blog">
                        <title>Manage Comments</title>
                        <sort_order>2</sort_order>
                        <action>adminhtml/blog_comment/index</action>
                    </comment>
                    <cat module="blog">
                        <title>Manage Categories</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/blog_cat/index</action>
                    </cat>
                    <settings translate="title" module="blog">
                        <title>Settings</title>
                        <sort_order>4</sort_order>
                        <action>adminhtml/system_config/edit/section/fontis_blog</action>
                    </settings>
                </children>
            </blog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blog>
                            <title>Blog</title>
                            <sort_order>70</sort_order>
                            <children>
                                <newpost>
                                    <title>New Post</title>
                                    <sort_order>0</sort_order>
                                </newpost>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>1</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>2</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>3</sort_order>
                                </cat>
                                <settings>
                                    <title>Settings</title>
                                    <sort_order>4</sort_order>
                                </settings>
                            </children>
                        </blog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fontis_blog>
                                            <title>Fontis Blog Section</title>
                                        </fontis_blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blog>
                    <file>fontis/blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Fontis_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Fontis_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>fontis_blog</table>
                    </blog>
                    <post>
                        <table>fontis_blog</table>
                    </post>
                    <comment>
                        <table>fontis_blog_comment</table>
                    </comment>
                    <cat>
                        <table>fontis_blog_cat</table>
                    </cat>
                    <post_cat>
                        <table>fontis_blog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>fontis_blog_store</table>
                    </store>
                    <cat_store>
                        <table>fontis_blog_cat_store</table>
                    </cat_store>
                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Fontis_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <resources>
            <fontisblog_setup>
                <setup>
                    <module>Fontis_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fontisblog_setup>
            <fontisblog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fontisblog_write>
            <fontisblog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fontisblog_read>
        </resources>
        <blocks>
            <blog>
                <class>Fontis_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Fontis_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Fontis_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
        </events>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>

    <default>
        <fontis_blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <route>blog</route>
                <blogcrumbs>1</blogcrumbs>
                <readmore>500</readmore>
                <usesummary>1</usesummary>
                <dateformat>long</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <wysiwyg_post>enabled</wysiwyg_post>
                <wysiwyg_summary>hidden</wysiwyg_summary>
            </blog>
            <menu>
                <left>0</left>
                <right>1</right>
                <recent>5</recent>
                <top>0</top>
                <footer>0</footer>
            </menu>
            <comments>
                <enabled>1</enabled>
                <login>0</login>
                <approval>0</approval>
                <loginauto>0</loginauto>
                <recaptcha>0</recaptcha>
                <grav_enabled>0</grav_enabled>
                <grav_size>75</grav_size>
                <grav_default>0</grav_default>
            </comments>
            <archives>
                <enabled>1</enabled>
                <type>2</type>
                <order>asc</order>
                <showcount>1</showcount>
            </archives>
            <rss>
                <enabled>1</enabled>
                <image>images/logo.gif</image>
                <usesummary>0</usesummary>
            </rss>
        </fontis_blog>
        <sitemap>
            <blog>
                <priority_post>0.75</priority_post>
                <priority_cat>0.5</priority_cat>
            </blog>
        </sitemap>
    </default>
</config>
