<?xml version="1.0"?>
<!--
/**
 * Fontis Blog Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * Parts of this software are derived from code originally developed by
 * Robert Chambers <magento@robertchambers.co.uk>
 * and released as "Lazzymonk's Blog" 0.5.8 in 2009.
 *
 * @category   Fontis
 * @package    Fontis_Blog
 * @copyright  Copyright (c) 2013 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <tabs>
        <fontis_extensions translate="label" module="blog">
            <label>Fontis Extensions</label>
            <sort_order>2000000</sort_order>
        </fontis_extensions>
    </tabs>
    <sections>
        <fontis_blog translate="label" module="blog">
            <label>Blog</label>
            <tab>fontis_extensions</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <blog translate="label">
                    <label>Blog Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Blog Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <route translate="label">
                            <label>Route to Blog</label>
                            <comment>eg. "news" will make the blog accessible from domain.com/news. Must not contain any slashes. Leave blank for the default ("blog").</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </route>
                        <layout translate="label">
                            <label>Page Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_layouts</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layout>
                        <dateformat translate="label">
                            <label>Date Format</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_dateformat</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dateformat>
                        <blogcrumbs translate="label">
                            <label>Show Breadcrumbs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blogcrumbs>
                        <readmore translate="label">
                            <label>Summary Character Count</label>
                            <comment>Number of characters in a post to display before it is truncated (on the sentence boundary) and the Read More link added. 0 for unlimited.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </readmore>
                        <usesummary translate="label">
                            <label>Use Post Summary</label>
                            <comment>If turned on, the "post summary" field will be used if available instead of truncating the main content.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </usesummary>
                        <perpage translate="label">
                            <label>Posts Per Page</label>
                            <comment>The number posts displayed per page. 0 to disable pages.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </perpage>
                        <bookmarkspost translate="label">
                            <label>Show Bookmarks in Posts</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bookmarkspost>
                        <bookmarkslist translate="label">
                            <label>Show Bookmarks in Lists</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bookmarkslist>
                        <wysiwyg_post translate="label">
                            <label>Use WYSIWYG editor for post editor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_wysiwygenabled</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wysiwyg_post>
                        <wysiwyg_summary translate="label">
                            <label>Use WYSIWYG editor for post summary editor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_wysiwygenabled</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wysiwyg_summary>
                    </fields>
                </blog>
                <menu translate="label">
                    <label>Menus and Links</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <left translate="label">
                            <label>Enable Left Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </left>
                        <right translate="label">
                            <label>Enable Right Menu</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </right>
                        <recent translate="label">
                            <label>Recent Posts</label>
                            <comment>The number of recent posts to be displayed in the menu. 0 to disable.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recent>
                        <top translate="label">
                            <label>Enable Top Link</label>
                            <comment>This setting depends on the theme being used.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </top>
                        <footer translate="label">
                            <label>Enable Footer Link</label>
                            <comment>This setting depends on the theme being used.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </footer>
                    </fields>
                </menu>
                <comments translate="label">
                    <label>Comments</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Comments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <login translate="label">
                            <label>Login Required to Comment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <approval translate="label">
                            <label>Auto Approve Comments</label>
                            <comment>All comments will appear immediately without the need for approval by admin.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </approval>
                        <loginauto translate="label">
                            <label>Logged in Auto Approve Comments</label>
                            <comment>Auto approve comments by logged in users. This field has no effect if the above setting is turned on.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loginauto>
                        <recipient_email translate="label">
                            <label>Send Emails To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recipient_email>
                        <sender_email_identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_email_identity>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                        <recaptcha translate="label">
                            <label>Enable ReCAPTCHA</label>
                            <comment>This setting has no effect unless you have the Fontis reCAPTCHA extension installed and configured.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recaptcha>
                        <grav_enabled translate="label">
                            <label>Enable Gravatar avatars</label>
                            <comment><![CDATA[Commenters will have avatars from <a href="http://gravatar.com/" target="_blank">Gravatar</a> displayed next to their comment.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grav_enabled>
                        <grav_size translate="label">
                            <label>Size of Gravatar avatars</label>
                            <comment>Enter a value between 1-2048. Values outside of 20-200 are discouraged. Leave blank for the default (75). All avatars are squares.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grav_size>
                        <grav_default>
                            <label>Use default Gravatar image</label>
                            <comment>Whether or not to use a default image if no avatar is available. If set to no, a blank transparent image will be used instead.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grav_default>
                    </fields>
                </comments>
                <archives translate="label">
                    <label>Archives</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Archives</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <type translate="label">
                            <label>Archive Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_archivetype</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <limit translate="label">
                            <label>Limit</label>
                            <comment>The number of archive links to be displayed in the menu. 0 to disable.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>
                        <order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>blog/system_sortorder</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order>
                        <showcount translate="label">
                            <label>Show Post Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showcount>
                    </fields>
                </archives>
                <rss translate="label">
                    <label>RSS Feed</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Blog RSS Feed</label>
                            <comment>The blog, and each individual category, will have its own RSS feed.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <title translate="label">
                            <label>RSS Feed Title</label>
                            <comment>Use a different tile for the RSS feed. Leave blank to use the main blog title.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <image translate="label">
                            <label>RSS Feed Image</label>
                            <comment>Relative to current skin directory (eg. images/rsslogo.jpg).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image>
                        <posts translate="label">
                            <label>RSS Posts to Show</label>
                            <comment>Number of posts to display in the feed. Leave empty for all posts.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </posts>
                        <usesummary translate="label">
                            <label>Use Post Summary</label>
                            <comment>Use the post summaries rather than the full post content in the feed.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </usesummary>
                    </fields>
                </rss>
            </groups>
        </fontis_blog>
        <sitemap translate="label" module="sitemap">
            <label>Google Sitemap</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>70</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <blog translate="label">
                    <label>Blog Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <changefreq_post translate="label">
                            <label>Post Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </changefreq_post>
                        <priority_post translate="label">
                            <label>Post Priority</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_sitemap</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Valid values range from 0.0 to 1.0</comment>
                        </priority_post>
                        <changefreq_cat translate="label">
                            <label>Category Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </changefreq_cat>
                        <priority_cat translate="label">
                            <label>Category Priority</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_sitemap</backend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Valid values range from 0.0 to 1.0</comment>
                        </priority_cat>
                    </fields>
                </blog>
            </groups>
        </sitemap>
    </sections>
</config>
