<?xml version="1.0"?>
<config>
    <modules>
        <Offi_CustomerAttribute>
            <version>0.0.1</version>
        </Offi_CustomerAttribute>
    </modules>
    <global>        
        <helpers>
            <customerattribute>
                <class>Offi_CustomerAttribute_Helper</class>
            </customerattribute>  
        </helpers>
        <models>
            <customerattribute>
                <class>Offi_CustomerAttribute_Model</class>
            </customerattribute>  
        </models>
        <blocks>
            <customerattribute>
                <class>Offi_CustomerAttribute_Block</class>
            </customerattribute>            
        </blocks>
    </global>
    <admin>
        <routers>
            <customerattribute>
                <use>admin</use>
                <args>
                    <module>Offi_CustomerAttribute</module>
                    <frontName>customerattribute</frontName>
                </args>
            </customerattribute>
        </routers>
    </admin>
    <adminhtml>
        <menu>                        
            <customer>
                <children>                  
                    <customerattribute_adminhtml_index>
                        <title>Customer Attributes Manager</title>
                        <action>customerattribute/adminhtml_index</action>
                        <sort_order>12</sort_order>
                    </customerattribute_adminhtml_index>                                                                           				                                                                             
                </children>                    
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Offi_CustomerAttribute>
                            <title>Customer Attribute Module</title>
                            <sort_order>10</sort_order>
                        </Offi_CustomerAttribute>
                    </children>                   
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <attribute>
                    <file>offi_customer_attribute.xml</file>
                </attribute>                
            </updates>
        </layout>
    </adminhtml>
</config>