<?xml version="1.0"?>
<!--
/**
 * Yoast
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 *
 * @category   Yoast
 * @package    Yoast_MetaRobotsUrl
 * @copyright  Copyright (c) 2009-2010 Yoast (http://yoast.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 -->
<config>
	<modules>
		<Yoast_MetaRobots>
			<version>0.1.0</version>
		</Yoast_MetaRobots>
	</modules>
	<frontend>
        <translate>
            <modules>
                <Yoast_MetaRobots>
                    <files>
                        <default>Mage_Catalog.csv</default>
                    </files>
                </Yoast_MetaRobots>
            </modules>
        </translate>
		<layout>
            <updates>
                <metarobots>
                    <file>metarobots.xml</file>
                </metarobots>
            </updates>
        </layout>
	</frontend>
	<global>
		<models>
			<metarobots>
				<class>Yoast_MetaRobots_Model</class>
			</metarobots>
		</models>
	    <resources>
            <metarobots_setup>
                <setup>
                    <module>Yoast_MetaRobots</module>
					<class>Yoast_MetaRobots_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </metarobots_setup>
			<metarobots_write>
			  <connection>
				<use>core_write</use>
			  </connection>
			</metarobots_write>
			<metarobots_read>
			  <connection>
				<use>core_read</use>
			  </connection>
			</metarobots_read>
		</resources>
		<blocks>
			<adminhtml>
				<rewrite>
					<cms_page_edit_tab_meta>Yoast_MetaRobots_Block_Cms_Adminhtml_Page_Edit_Tab_Meta</cms_page_edit_tab_meta>
				</rewrite>
			</adminhtml>
			<cms>
				<rewrite>
					<page>Yoast_MetaRobots_Block_Cms_Page</page>
				</rewrite>
			</cms>
			<catalog>
				<rewrite>
					<product_view>Yoast_MetaRobots_Block_Catalog_Product_View</product_view>
				</rewrite>
			</catalog>
		</blocks>
	</global>
    <default>
        <design>
            <head translate="default_description" module="page">
                <default_robots>INDEX,FOLLOW</default_robots>
            </head>
        </design>
        <web>
            <noindex>
                <search>1</search>
				<customer>1</customer>
				<checkout>1</checkout>
				<contacts>1</contacts>
				<wishlist>1</wishlist>
				<compare>1</compare>
				<friend>1</friend>
				<reviews>1</reviews>
				<tags>1</tags>
				<rss>1</rss>
            </noindex>
        </web>
    </default>
</config>